/* 基础样式 */
// 颜色
$lightBgColor = #6a43a9
$darkBgColor = #111
$headerBgColor = rgba(176, 224, 230, .9)
$footerBgColor = #f5f6f7

// 字体
$textSize = .16rem
$textSmall = .14rem
$textSS = .12rem
$textLarge = .18rem
$textLL = .2rem
$textLLL = .24rem

// 宽高
$headerHeight = .6rem